<!DOCTYPE html>
<html ng-app="mymodule">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css">
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script type="text/javascript" src="myjs.js"></script>
</head>
<body ng-controller="myController">
 <div id="container">	
  <ol>
	  <li ><input type="button" id="b1" value="create" ng-click="showcreate()"> </li>
	   <li ><input type="button" id="b2" value="update" ng-click="showupdate()"> </li>
	    <li><input type="button" id="b3" value="Delete" ng-click="showdelete()"> </li>
	     <li><input type="button" id="b4"value="Display" ng-click="showdisplay()"> </li>  
  </ol>
  <!-- This is container for Craete Button -->
  <div id="create1" ng-show="create1show">
	  <form  >
		  <div class="form1">
		  Enter Name:<input type="text" ng-model="empData.name" name="empname">
		  Enter salary:<input type="text" ng-model="empData.salary" name="empsalary
		  
		  ">
		  <input type="button" value="Save" ng-click="saveData()">
		  </div>
	  </form>
  </div>
<!-- This is container for Delete Button -->
<div id="delete1" ng-show="delete1show" >
	<form >
		<div class="form1"></div>
		Enter Id:<input type="text">
		<input type="button" value="Delete">
	</form>	
</div>
  <!-- This is container for Update Button -->
  <div id="update1" ng-show="update1show">
	  <form  >
		  <div class="form1">
		  Enter Id:<input type="text">
		  Enter Name:<input type="text">
		  Enter new salary:<input type="text">
		  <input type="button" value="Update">
		  </div>
	  </form>
  </div
<!-- This is container for Display Button -->
<div id="display1" ng-show="display1show">		
</div>


</div> 
  </body>
</html>
